
# Custom repository path for plan
nl.remedy.it.DnCX11.Property nl.remedy.it.DnCX11.ArtifactRepo.Path "my_plan_repo"

# locality manager instance for locality "LocalityInstance" on Node "LocalityOne"
nl.remedy.it.DnCX11.LocalityManager LocalityInstance
    nl.remedy.it.DnCX11.Node "LocalityOne"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Locality.Arguments "-n LocalityInstance"
    nl.remedy.it.DnCX11.Artifact loc1_resource "file://../artifacts/test_resource.dat"
    nl.remedy.it.DnCX11.Artifact loc1_readme "file://../artifacts/readme.txt"
