
# locality manager instance for locality "LocalityInstance1" on Node "LocalityOne"
nl.remedy.it.DnCX11.LocalityManager LocalityInstance1
    nl.remedy.it.DnCX11.Node "LocalityOne"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.Arguments "-n LocalityInstance1"

# locality manager instance for locality "LocalityInstance2" on Node "LocalityTwo"
nl.remedy.it.DnCX11.LocalityManager LocalityInstance2
    nl.remedy.it.DnCX11.Node "LocalityTwo"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.Arguments "-n LocalityInstance2"
