
# locality manager instance for locality "LocalityInstance" on Node "LocalityOne"
nl.remedy.it.DnCX11.LocalityManager LocalityInstance
    nl.remedy.it.DnCX11.Node "LocalityOne"
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.ActivationMode uint32:1
    nl.remedy.it.DnCX11.ConfigProperty nl.remedy.it.DnCX11.Locality.IOR "file://inst_one.ior"
    